body{
   
    font-family: system-ui, sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
    margin:0;
}

body a{
    text-decoration: none;
    color: #000;
}

body nav{
    padding-top: 1vw;
    display: flex;
    justify-content: space-between;
    margin-left: 22vw;
}
#header-container{
    padding: 0 3vw 0 3vw;
    height: 540px;
    background-image: url(/img/wheat.jpg);
    background-repeat: no-repeat;
    background-size: 37%;
    background-color: #fbf9fa;
}

#group-companies{
    padding: 0 4vw 3vw 5vw;
    background-color: #fbf9fa;

}
#header-text h2{
    font-weight: 200;
    font-size: 2em;
    text-align: justify;
}
#header-text{
    margin-top: 4vw;
    max-width: 55vw;
    float: right;
}
.company-name{
    font-weight: 300;
    color: #e2ba7b;
}
.header-btn{
    height: 7vh;
    background-color: #fbf9fa;
    width: 14.5vw;
    border-left: 1px solid #65aa44 ;
    border-right: 1px solid #65aa44 ;
    border-top: 0;
    border-bottom: 0;
    transition: 1s .1s;
    cursor: pointer;
}
.header-btn:hover{
    background-color: #65aa44;
    
}
h3{
    margin:0;
    font-weight: 300;
    font-size: 1.5em;
    border-left: 0.5vw solid #65aa44 ;
    border-bottom: 0.15vw solid #65aa44;
    padding: 2px 0 7px 7px;
}
.h3-text{
    padding: 1vw 0 0.5vw 0;
    margin-bottom: 2vw;
}
.main-text{
    font-size: 0.8em;
    line-height: 1.5;
}
.title-col{
    font-size: 1.4em;
    font-weight: 700;
    color: #65aa44;
}
.group-col{
    margin-right: 7vw;
    
    }
.company-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#what-offer{
    padding: 1vw 4vw 3vw 5vw;
    background-color: #fff;
}
.offer-gird{
    padding-top: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.services-flex{
    display: flex;
    gap: 2vw;
    align-items: center;
}
.services-text{
    font-weight: 700;
}
#purchase-table{
    padding: 1vw 4vw 3vw 5vw;
    background-color: #fbf9fa;
}
.italic{
    font-style: italic;
}
#purchase-table table{
    width: 100%;
    text-align: center;
    border-spacing: 0;
    font-size: 0.8em;
}
#purchase-table th, td{
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}
#purchase-table th, td {
    border: 2px solid #e2ba7b;
    margin: 0;
  }
  #purchase-table th{
      font-weight: 500;
  }
 .bold{
    font-weight: 500;
 }
 #offer-text{
    padding: 1vw 4vw 3vw 5vw;
 }
 #offer-text li::marker{
    color:#e2ba7b;
 }
 #our-news{
    background-color: #fbf9fa;
    padding: 1vw 4vw 3vw 5vw;

 }
 #our-news img{
 
    width: 110px;
    height: 140px;
    padding: 1vw 1vw 1vw 1vw;
 }
 #our-news .news-flex-items{
     display:flex;
     justify-content: space-between;
     gap: 2vw;

 }
 
 .flex-item p{
     margin: 0 0 0.25vw 0;
 }
 .news-text-box {
    width: 20vw;
}
 #our-news .flex-item{
    box-shadow: 0px 0px 12px 0px #d3d3d3;
    display: flex;
 }
.news-text-main{
    padding: 1vw 1vw 0 0;
    font-size: 1em;
    font-weight: 300;

}
.flex-item .main-text{
    padding-bottom: 1.5vw;
    padding-right: 1vw;
}
.news-text-date{
    color:  #808080;
    font-style: italic;
    font-size: 0.8em;
    font-weight: 300;
}
footer{

    background-color: #f5f5f5;
    padding: 1vw 3vw 2vw 3vw;
}
.footer-title-text{
    font-weight: 700;
    max-width: 9vw;
    font-size: 0.9em;
}
.footer-grid{
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr;
}
.footer-block{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.social-links{
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 2.7vw;
}
.social-links img{
    width: 30%;
}

@media screen and (min-width:769px) and (max-width:991px){

    body a{
            max-width: 10vw;
            text-align: center;
    }
    #header-container {
        background-size: 65%;
    height: 480px;}
    #header-text h2{
        text-align: left;
        font-size: 1.5em;
}
.header-btn{
    height: 5vh;
}

.group-col {
    margin-right: 3vw;
}
.offer-gird {

    grid-template-columns: 1fr 1fr;
}
#our-news .news-flex-items {
    flex-direction: column;

}
.news-text-box {
width: 100%;
}

.flex-item .main-text {
    padding-top: 2vw;
}
#our-news img {
    
    width: 100px;
    height: 100px;
    padding-right: 3vw;
}
.footer-grid {
    display: grid;
    grid-template-columns: 1fr;}
.social-links{
    flex-direction: row;
    gap: 1vw;
    justify-content: left;
    align-items: flex-end;
}
.social-links img{
    display: block;
    width: 100%;
}
.social-links a{
    max-width: 2.2vw;
}
.footer-title-text{
    max-width: 50vw;
}
}
@media screen and (max-width:768px){
    body nav{
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 0;
    text-align: center;
    }
    nav a:nth-child(n+4){

        padding-top: 3vw;
    }
    #header-text {
        max-width: fit-content;
    
    }
    .header-btn{
        height: 4vh;
    }
    #header-text{
        text-align: center;
    }
#header-container {
    background-size: 70%;
}
#header-text h2 {
    text-align: center;
}
.company-list{
    flex-direction: column;
}
.group-col {
margin-right: 0;
}
.offer-gird{
    grid-template-columns: 1fr;
}
.services-flex {
    gap: 5vw;
}
#purchase-table{
    display: none;
}
#our-news .news-flex-items {
    flex-direction: column;

}
#header-container {

    height: 630px;}
.news-text-box {
width: 100%;
}
#our-news img{
    width: 80px;
    height: 80px;
    margin-right: 2vw;}


.flex-item .main-text {
    padding-bottom: 0.75vw;
   }

    .footer-grid {
        display: grid;
        grid-template-columns: 1fr;}
    .social-links{
        flex-direction: row;
        gap: 1vw;
        justify-content: left;
        align-items: flex-end;
    }
    .social-links img{
        display: block;
        width: 100%;
    }
    .social-links a{
        max-width: 2.2vw;
    }
    .footer-title-text{
        max-width: 50vw;
    }
}